
<%# params[:word].each do |letter| %>
<%# if @random_array.include?(letter) %>
<%# index_val = @random_array.index(letter) %>
<%# @random_array %>

<h1>******** Now your results ********</h1>
<p><%= @massage %></p>

<!--
1. test if all latters from user word is in the array of words
2. if letter is in array, remove letter
3. else return error to user
 -->
